@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
